<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/1_menu.css">
</head><br>
<body>
    <div id="inner">
        <div id="history-box" class="box" onclick="window.location = './history';">
            <center>
                <h3 class="box-title">View History</h3>
                <img class="box-img-1" src="./img/graph.png">
            </center>
        </div>
        <div id="main-box" class="box" onclick="window.location = './main?moisture=No Input';">
            <center>
                <h3 class="box-title">Analyze Sample</h3>
                <img class="box-img" src="./img/toiletacc.png">
            </center>
        </div>
    </div>
</body>
</html>