body{
	height: 97vh;
    background: #772F1A;
	overflow-y: hidden;
}
#inner{
	background: #EF8354;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#history-box{
	/*background-color: #F5D5E0;*/
	grid-columns: 1/2;
	height: 78vh;
	margin: 20px;
}
#main-box{
	/*background-color: #F5D5E0;*/
	grid-columns: 1/3;
	height: 78vh;
	margin: 20px;
}
.box-title{
	font-size: 1.5rem;
}
.box{
    grid-row: 4/16;
    /*border: 5px solid #430D4B;*/
}
.box:hover{
    /*box-shadow: 0 0 20px #F5D5E0;*/
}
.box-img{
    height: 65vh;
    width: auto;
    margin-top: 0;
}
.box-img-1{
    height: 50vh;
    width: auto;
    margin-top: 12px;
}
