body{
	height: 97vh;
    background: #759AAB;
}
#title{
	margin-top: -30px;
	margin-bottom: 20px;
}
#inner{
	background: #759AAB;
	top: 50px;
	position: absolute;
	padding: 50px;
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
}
.top-bar{
	height: 10vh;
	top: 0%;
	width: 100vw;
	z-index: 10;
}
.search{
	background-color: #afcddb;
	position: absolute;
	top: 12px;
	left: 90px;
	margin-bottom: 50px;
	width: 50vw;
	display: block;
	margin-top: 8px;
	border-radius: 10px;
	margin-left: 210px;
}
.logo{
	height: 50px;
	width: 50px;
	margin-top: 7px;
	margin-left: 50px;
}
.user{
	height: 50px;
	width: 50px;
	margin-top: 6px;
	margin-left: 1030px;
}
.post{
	display: block;
    text-align: center;
	padding: 20px;
    background-color: #FDF0D5;
	border: 4px solid #13293E;
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.img-div{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.img-div img{
	width: 30px;
	height: 30px;
}
.special{
	margin-top: 200px;
	margin-bottom: 20px;
}
.add-button{
	width: 50px;
	height: 50px;
	font-size: 2rem;
	position: fixed;
	top: 85%;
	left: 47%;
}
.tags{
	display: flex;
	align-items: center;
}
.tag-indiv{
	background-color: #f5b193;
	padding: 4px;
	border-radius: 3px;
	margin-right: 7px;
}
.modal-body p{
	margin: 0;
}